body{
    background-image: url('./water.jpeg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 30px;
    text-align: center;
}